{% extends "layouts/default.twig" %}
{% block content %}
    <div class="container text-content">
        <h2 class="headline--beta">Workshops</h2>

       <p>After last year's great success, we’re excited to open the call for workshops again. Workshops are a great way to level up skills, work with fellow WordPressers, and share in-depth knowledge. We are looking forward to receiving workshop applications, and making this a new, educational and fun experience for everyone.</p>
		<p>If you need any inspiration to find a good workshop topic, we’re put together a list of ideas below:</p>

        <h3>Development workshops (beginner and intermediate level)</h3>
        <ul>
            <li>Custom plugin development</li>
            <li>Development environments</li>
            <li>WordPress and Security</li>
            <li>The WordPress Customizer</li>
            <li>Accessibility</li>
            <li>Internationalization</li>
            <li>eCommerce</li>
            <li>Developing a custom WordPress theme</li>
            <li>CSS: CSS Grids, animations, SVG, etc.</li>
        </ul>

        <h3>Advanced Development workshops</h3>
        <ul>
            <li>The Rest API</li>
            <li>JavaScript</li>
            <li>JS Frameworks (React, Angular, Vue.js, Backbone, etc.)</li>
            <li>OOP (Object Oriented Programming)</li>
            <li>Performance (caching strategies, front-end and backend optimizations, etc.)</li>
        </ul>

        <h3>Design and UX workshops</h3>
        <ul>
            <li>User Experience</li>
            <li>Design process</li>
            <li>Design thinking</li>
            <li>Customer journey</li>
            <li>Product strategy</li>
            <li>Prototyping</li>
            <li>Users Research / Testing</li>
        </ul>

        <h3>Community workshops</h3>
        <ul>
            <li>Building a local WordPress community</li>
            <li>Speaking at WordCamps</li>
            <li>Best practices to organize a WordCamp</li>
        </ul>

        <h3>Content workshops</h3>
        <ul>
            <li>Content strategy</li>
            <li>Create compelling content</li>
            <li>Storytelling</li>
            <li>Content planning for multi-language sites</li>
            <li>Publishing</li>
            <li>SEO</li>
        </ul>

        <h3>Business workshops</h3>
        <ul>
            <li>Running a successful design/dev shop</li>
            <li>Project scoping and estimation</li>
            <li>Find your niche</li>
            <li>SaaS</li>
            <li>Selling online</li>
            <li>Internet law</li>
        </ul>

	<br>
		<p> Call for Wordshops will open on 30 of October </p>
    </div>
{% endblock %}

